/*
 * @author: marco torres
 */

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Regular.eot');
  src: url('../fonts/ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'),
  url('../fonts/ubuntu/Ubuntu-Regular.woff') format('woff'),
  url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/pt_sans_narrow/PT_Sans-Narrow-Web-Regular.eot');
  src: url('../fonts/pt_sans_narrow/PT_Sans-Narrow-Web-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans_narrow/PT_Sans-Narrow-Web-Regular.woff2') format('woff2'),
  url('../fonts/pt_sans_narrow/PT_Sans-Narrow-Web-Regular.woff') format('woff'),
  url('../fonts/pt_sans_narrow/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bad Script';
  src: url('../fonts/bad_script/BadScript-Regular.eot');
  src: url('../fonts/bad_script/BadScript-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bad_script/BadScript-Regular.woff2') format('woff2'),
  url('../fonts/bad_script/BadScript-Regular.woff') format('woff'),
  url('../fonts/bad_script/BadScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Ubuntu", Arial, "Georgia", serif;
  font-size: 16px;
  line-height: 1.8em;
  color: #333;
}

a, 
a:link, 
a:visited, 
a.visited {
  color: #F6A9A6;
}

a:hover, 
a:active, 
a:focus {
  color: #F28784;
  text-decoration: none;
}

/* Link Up */

.link-up {
  background: url('../img/sprite.png') no-repeat 0 -18px;
  bottom: 20px;
  cursor: pointer;
  display: none;
  filter: alpha(opacity=80);
  height: 66px;
  opacity: 0.8;
  position: fixed;
  right: 20px;
  width: 66px;
  z-index: 10;
}

.link-up:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

/* View More */

.view-more, 
.view-more:visited {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #F6CCA7;
  color: #fff !important;
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
  font-size: 19px;
  padding: 5px 17px;
  text-transform: uppercase;
}

/* Blockquote */

blockquote {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #80CFB2;
  border-left: none;
  color: #fff;
  margin: 20px 0;
  padding: 15px 20px;
}

blockquote p {
  color: #fff !important;
}

.form-submit, 
.form-reset {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #A83F3D;
  border: none;
  color: #fff;
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
  font-size: 16px;
  font-weight: normal !important;
  padding: 4px 12px;
  text-transform: uppercase;
}

.form-submit:hover, 
.form-reset:hover {
  background: #222222;
  color: #fff;
}

/* Title */

h3.title {
  font-family: "Bad Script", Arial, "Georgia", serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* Pager */

.item-list {
  clear: both;
}

.pager {
  clear: both;
  padding-top: 20px;
}

.pager li > a {
  background-color: none;
  border: none;
  border-radius: 0;
  color: #CF6F6D;
  display: inline-block;
  margin: 0 4px;
  padding: 2px 5px;
}

.pager li > a, 
.pager li.pager-current {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #F8F8F8;
  border: none;
  color: #CF6F6D;
  display: inline-block;
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
  font-size: 18px;
  margin: 0 2px;
  padding: 1px 5px;
  text-transform: uppercase;
}

.pager li.pager-first a, 
.pager li.pager-previous a, 
.pager li.pager-next a, 
.pager li.pager-last a {
  padding: 1px 10px;
}

.pager li > a:hover, 
.pager li.pager-current {
  background-color: #CF6F6D;
  color: #fff;
}

/* Owl Carousel */

.owl-carousel {
  position: relative;
}

.owl-prev, 
.owl-next {
  display: block;
  filter: alpha(opacity=70);
  font-size: 0;
  height: 50px;
  line-height: 0;
  margin-top: -25px;
  opacity: 0.7;
  position: absolute;
  text-indent: -9999px;
  text-transform: capitalize;
  top: 50%;
  width: 50px;
}

.owl-prev {
  background: url('../img/sprite.png') no-repeat -50px -84px;
  left: -76px;
}

.owl-next {
  background: url('../img/sprite.png') no-repeat -50px -134px;
  right: -76px;
}

.owl-prev:hover, 
.owl-next:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

/*
 * Header
 */

header {
  background: url('../img/background_feautres.png') repeat 0 0;
  color: #392C2B;
}

/* Header Top */

.header-top {
  background: url('../img/background_header.png') repeat 0 0;
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
  padding: 10px 0 16px;
  text-align: right;
}

.header-top p span {
  color: #F6A9A6;
}

/* Block Info */

.header-top .block-info {
  float: right;
}

/* Block Menu */

.header-top .block-menu {
  border-left: 1px solid #F0EBE8;
  float: right;
  margin-left: 15px;
  padding-left: 10px;
}

.header-top .block-menu ul {
  margin-bottom: 0;
}

.header-top .block-menu ul li {
  display: block;
  float: left;
  list-style: none;
  padding: 0 5px;
}

/* Block Socialnetworks */

.block-socialnetworks ul {
  margin-bottom: 0;
}

.block-socialnetworks li {
  display: block;
  float: left;
  list-style: none;
  padding: 0 3px;
}

.block-socialnetworks li.first {
  padding-left: 0;
}

.block-socialnetworks li.last {
  padding-right: 0;
}

.block-socialnetworks li a {
  display: block;
  filter: alpha(opacity=80);
  float: left;
  height: 29px;
  opacity: 0.8;
  width: 29px;
}

.block-socialnetworks .link-facebook {
  background: url('../img/sprite.png') no-repeat -161px -18px;
}

.block-socialnetworks .link-twitter {
  background: url('../img/sprite.png') no-repeat -190px -18px;
}

.block-socialnetworks li a:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

/* Header Content */

.header-content {
  background: url('../img/background_top_features.png') repeat-x 0 0;
  margin-top: -18px;
  padding-bottom: 30px;
}

/* Navigation */

.header-content nav {
  background: #80CFB2;
  display: block;
  font-size: 15px;
  height: 46px;
  margin: 5px auto;
  padding: 6px 0;
  position: relative;
  width: 97%;
}

.header-content nav .nav-side-left, 
.header-content nav .nav-side-right {
  height: 59px;
  position: absolute;
  top: -8px;
  width: 21px;
}

.header-content nav .nav-side-left {
  background: url('../img/sprite.png') no-repeat -66px -24px;
  left: -10px;
}

.header-content nav .nav-side-right {
  background: url('../img/sprite.png') no-repeat -87px -24px;
  right: -10px;
}

.header-content nav .block-menu {
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
}

.header-content nav .block-menu ul {
  display: block;
  margin-bottom: 0;
}

.header-content nav .block-menu ul li {
  border-left: 1px solid #C0E7D9;
  display: block;
  float: left;
  list-style: none;
}

.header-content nav .block-menu ul li.first {
  border-left: none;
}

.header-content nav .block-menu ul li a {
  color: #fff;
  display: block;
  float: left;
  font-weight: normal;
  padding: 3px 26px;
  text-transform: uppercase;
}

.header-content nav .block-menu ul li a:hover:after, 
.header-content nav .block-menu ul li a.active:after {
  background: url('../img/sprite.png') no-repeat -161px -47px;
  content: "";
  display: block;
  height: 8px;
  margin: 0 auto;
  margin-top: -5px;
  visibility: inherit;
  width: 12px;
}

/* Block Search */

.header-content .block-search {
  float: right;
  padding: 2px 18px 2px 0;
  width: 232px;
}

.header-content .block-search .form-item {
  float: left;
  width: 182px;
}

.header-content .block-search .form-text {
  border: 1px solid #E6E6E6;
  border-right: 0;
  font-size: 14px;
  height: 30px;
  padding: 3px 5px;
  width: 182px;
}

.header-content .block-search .form-actions {
  float: left;
}

.header-content .block-search .form-submit {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: url('../img/sprite.png') no-repeat -219px -18px;
  border: none;
  display: block;
  font-size: 0;
  height: 30px;
  line-height: 0;
  text-indent: -9999px;
  text-transform: capitalize;
  width: 30px;
}

/*
 * Feautres
 */

section#features {
  background: url('../img/background_feautres.png') repeat 0 0;
  display: block;
  margin-top: -30px;
  padding-bottom: 30px;
}

/* Block Slideshow */

.block-slideshow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #fff;
  margin: 10px 0;
  padding: 15px;
  position: relative;
}

.block-slideshow .carousel-inner .slide-content {
  position: relative;
}

.block-slideshow .carousel-inner .slide-text {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(255,255,255,0.9);
  bottom: 0;
  filter: alpha(opacity=0);
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
  left: 0;
  opacity: 0;
  padding: 25px 15px;
  position: absolute;
  width: 100%;
}

.block-slideshow .carousel-inner .item:hover .slide-text {
  filter: alpha(opacity=80);
  opacity: 1;
}

.block-slideshow .carousel-inner .slide-text h2 {
  font-size: 30px;
  margin: 0;
}

.block-slideshow .carousel-inner .slide-text h2 em {
  color: #5FC29D;
  font-size: 22px;
  text-transform: uppercase;
}

.block-slideshow .carousel-inner .slide-text a.view-more {
  float: right;
  font-size: 22px;
}

.block-slideshow .carousel-control, 
.block-slideshow .carousel-control:hover, 
.block-slideshow .carousel-control:focus {
  display: block;
  filter: alpha(opacity=80);
  font-size: 0;
  height: 50px;
  line-height: 0;
  margin-top: -25px;
  opacity: 0.8;
  position: absolute;
  text-indent: -9999px;
  text-transform: capitalize;
  top: 50%;
  width: 50px;
}

.block-slideshow .carousel-control:hover, 
.block-slideshow .carousel-control:focus {
  filter: alpha(opacity=100);
  opacity: 1;
}

.block-slideshow .carousel-control.left {
  background: url('../img/sprite.png') no-repeat 0 -84px;
  left: 15px;
}

.block-slideshow .carousel-control.right {
  background: url('../img/sprite.png') no-repeat 0 -134px;
  right: 15px;
}

/* Block Products */

.block-categories, 
.block-products {
  margin: 10px 0;
}

.product-item {
  margin: 15px 0;
}

.product-item > a {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  background: #fff;
  padding: 15px 15px 20px;
  position: relative;
  text-align: center;
  z-index: 9;
}

.product-item > a:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);  
}

.product-item > a:hover:after {
  background: url('../img/sprite.png') no-repeat 0 0;
  bottom: -18px;
  content: "";
  display: block;
  height: 18px;
  left: 50%;
  margin-left: -116px;
  position: absolute;
  visibility: inherit;
  width: 232px;
  z-index: 8;
}

.product-item h2 {
  font-size: 20px;
  margin: 13px 0 15px;
}

.block-products .product-item h2 {
  color: #392C2B;
}

.block-products .product-item:hover h2 {
  color: #F28784;
}

.block-products .product-item p {
  color: #585858;
}

/*
 * Content
 */

section#content {
  display: block;
  position: relative;
  margin-top: -18px;
}

.content-line-top {
  background: url('../img/background_top_content.png') repeat-x 0 0;
  height: 19px;
  width: 100%;
}

.content-container {
  background: #fff;
}

/* Node */

.node {
  padding: 30px 0;
}

.node > h2 {
  font-size: 30px;
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
  margin: 0 0 15px;
}

.node p {
  color: #585858;
}

.node a.view-more {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  clear: both;
  float: right;
  padding: 2px 15px;
}

/* Contact */

.contact {
  margin: 10px 0 40px;
}

.contact-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #FEF0DE;
  padding: 45px 50px;
  position: relative;
}

.contact-side-left-top, 
.contact-side-right-top, 
.contact-side-left-bottom, 
.contact-side-right-bottom {
  display: block;
  height: 65px;
  position: absolute;
  width: 60px;
}

.contact-side-left-top {
  background: url('../img/sprite.png') no-repeat -100px -68px;
  left: -15px;
  top: -17px;
}

.contact-side-right-top {
  background: url('../img/sprite.png') no-repeat -160px -68px;
  right: -15px;
  top: -17px;
}

.contact-side-left-bottom {
  background: url('../img/sprite.png') no-repeat -100px -133px;
  bottom: -17px;
  left: -15px;
}

.contact-side-right-bottom {
  background: url('../img/sprite.png') no-repeat -160px -133px;
  bottom: -17px;
  right: -15px;
}

.contact-info {
  margin-bottom: 25px;
}

.contact-info p {
  color: #CD6D6C;
  margin-bottom: 0;
}
 
.contact-info p a {
  color: #CD996C;
}

.contact .form-actions {
  width: 142px;
}

/* Node Detail */

.node-detail > h2 {
  font-size: 30px;
}

.node-detail > h2 em {
  color: #5FC29D;
  font-size: 22px;
  text-transform: uppercase;
}

.node-detail .owl-carousel .item {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  filter: alpha(opacity=70);
  margin: 10px;
  opacity: 0.7;
  position: relative;
}

.node-detail .owl-carousel .item:hover {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  filter: alpha(opacity=100);
  margin: 10px;
  opacity: 1;
}

.node-detail .owl-carousel .item img {
  display: block;
  height: auto;
  width: 100%;
}

.node-detail .owl-carousel .item h4 {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(0,0,0,0.9);
  bottom: 0;
  color: #fff;
  filter: alpha(opacity=0);
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
  font-size: 15px;
  font-weight: normal;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 5px 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.node-detail .owl-carousel .item:hover h4 {
  filter: alpha(opacity=100);
  opacity: 1;
}

/* Block Tags */

.block {
  margin: 10px 0;
}

.block-tagclouds h3 {
  line-height: 44px;
}

.block-tagclouds h3 em {
  background: url('../img/sprite.png') no-repeat -108px -19px;
  display: block;
  float: left;
  height: 50px;
  margin-right: 10px;
  width: 52px;
}

.block-tagclouds .content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #FEF0DE;
  clear: both;
  margin: 10px 0;
  padding: 15px;
}

.block-tagclouds .content span {
  float: left;
  padding: 4px;
}

.block-tagclouds .content span a {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #F6A9A7;
  color: #fff;
  display: block;
  float: left;
  font-family: "PT Sans Narrow", Arial, "Georgia", serif;
  font-weight: normal;
  line-height: 20px;
  padding: 2px 10px 4px;
}

.block-tagclouds .content span a:hover {
  background: #fff;
  color: #F6A9A7;
}

/*
 * Footer
 */

footer {
  clear: both;
  background: #FEF0DE;
}

footer .container {
  padding: 35px 0 40px;
}

.footer-line-top {
  background: url('../img/background_top_footer.png') repeat-x 0 0;
  height: 26px;
}

/* Block Socialnetworks */

footer .block-socialnetworks {
  width: 64px;
}

/* Block Info */

footer .block-info {
  padding-top: 30px;
}

footer .block-info p {
  color: #CD6D6C;
  margin-bottom: 0;
}
 
footer .block-info p a {
  color: #CD996C;
}

/* Clearfix */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

@media only screen and (min-width : 767px) {
  .navbar {
    margin-bottom: 0;
    border: none;
    min-height: 0;
  }
  .navbar-fixed-top {
    border-width: 0;
    left: auto;
    position: static;
    right: auto;
    top: auto;
  }
  .navbar-header {
    float: none;
  }
  .navbar-nav {
    float: none;
  }
  .nav > li > a {
    line-height: 28px;
  }
  .nav > li > a:hover {
    background: none;
  }
}

@media only screen and (max-width : 767px) {
  .header-top {
    margin-top: 50px;
  }
  .navbar-toggle .icon-bar {
    background-color: #FFF !important;
    /*border: 1px solid #F6A9A6;*/
    height: 4px;
    width: 25px;
  }
  .navbar-default .navbar-toggle:hover, 
  .navbar-default .navbar-toggle:focus {
    background-color: #FFF !important;
  }
  .navbar-default .navbar-toggle {
    background: transparent;
    border: none;
    margin: 0;
  }
  .navbar-header {
    background: #80CFB2;
  }
  .navbar-fixed-top .navbar-collapse, 
  .navbar-fixed-bottom .navbar-collapse {
    background: #fff;
  }
  .navbar-nav {
    margin-top: 0;
  }
  .nav > li {
    border-bottom: 1px solid #80CFB2;
  }
  .header-content nav .block-menu ul li {
    border-left: none;
    display: block;
    float: none;
    list-style: none;
  }
  .header-content nav .block-menu ul li a {
    color: #F6A9A6;
    display: block;
    float: none;
    font-size: 19px;
    font-weight: normal;
    padding: 12px 15px;
    text-transform: uppercase;
  }
  .header-content nav .block-menu ul li a:hover, 
  .header-content nav .block-menu ul li a.active {
    background: #F6A9A6;
    color: #fff;
  }
  .header-content nav .block-menu ul li a:hover:after, 
  .header-content nav .block-menu ul li a.active:after {
    background: none;
    content: "";
    display: none;
    height: 0;
    width: 0;
  }
  .header-content .block-search {
    float: none;
    margin: 0 auto;
    padding: 2px 0;
    width: 214px;
  }
}

@media only screen and (max-width : 490px) {
  .block-socialnetworks {
    clear: both;
    height: 29px;
    margin: 0 auto 10px;
    width: 64px;
  }
}